.ng-invalid.ng-touched:not(form) {
    border: 1px solid red
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.2em;
  font-family: sans-serif;
  min-width: 1120px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}


::ng-deep .mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: red;
  font-weight: 700;
}

/* Styles for the active tab label
 .mat-tab-label.mat-tab-label-active
 ::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active

 */
::ng-deep .mat-tab-labels .mat-tab-label-active
   {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: red;
  font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: green;
}

p {
font-family: Lato;
}
/*
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color:red;
  background-color: green;
  }

  ::ng-deep .mat-tab-list .mat-tab-labels {
  color:blue;
  background-color: yellow;
  }
*/
/*
.mat-tab-label{
  background:aqua;
  color: blue;
  width: 60px;
  height: 50px;
  font-size: 20px;
}
.mat-tab-group.mat-primary .mat-ink-bar{
  background: brown;
  height: 5px;
}

*/


