<body>

<form class="needs-validation" novalidate [formGroup]="formulario" style="padding: 15px;">

  <div class="class row" class="bg-success">
    <div class="class col-12" class="text-center">
      <h6> Movimentação da Ordem de Serviço </h6>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-8"></div>
      <div class="col-4" style="text-align: right;">
        <h2>
           000001
        </h2>
      </div>
    </div>
  </div>
  <form class="container">


    <div class="form-group row">

      <!--label-- class="control-label">{{ recebeFiltro }}</!--label-->

      <div class="col-md-2">
        <label for="placa" class="control-label">Placa</label>
        <input
            type="text"
            class="form-control"
            id="placa"
            formControlName="placa"
        >

      </div>

      <div class="col-md-8">
        <label for="modelo" class="control-label">Modelo</label>
        <input
            readonly="true"
            type="text"
            class="form-control"
            id="modelo"
            formControlName="modelo"
        >
      </div>

    </div>

    <div class="form-group row">
      <div class="class row" class="bg-info">
        <div class="class col-12" class="text-center">
          <h6> {{ idclientesaida }} </h6>
        </div>
      </div>

    </div>

    <div class="form-group row">
      <div class="col-md-2">
        <label for="qtde" class="control-label">Qtde</label>
        <input
            type="number"
            class="form-control"
            id="qtde"
            formControlName="qtde"
        >
      </div>
      <div class="col-md-2">
        <label for="codigo" class="control-label">codigo</label>
        <input
            type="text"
            class="form-control"
            id="codigo"
            formControlName="codigo"
        >
      </div>
      <div class="col-md-4">
        <label for="descricao" class="control-label">Descricao</label>
        <input
            type="text"
            class="form-control"
            id="descricao"
            formControlName="descricao"
        >
      </div>

      <div class="col-md-2">
        <label for="vrunitario" class="control-label">Vr. Unitário</label>
        <input
            id="vrunitario"
            formControlName="vrunitario"

            type="number"
            class="form-control"
            name="vrunitario"
            ng-model="vrunitario"
            ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
            step="0.01"
            required
        >
      </div>

      <div class="col-md-2">
        <label for="vrtotal" class="control-label">Vr. Total</label>
        <input
            readonly="true"
            class="form-control"
            id="vrtotal"
            formControlName="vrtotal"

            type="number"
            name="vrtotal"
            ng-model="vrtotal"
            ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
            step="0.01"
            required
        >
      </div>
    </div>


    <div class="form-group row">
      <div class="col-md-8">
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
        <button class="btn btn-default" >Cancelar</button>

      </div>
    </div>

  </form>

</form>
</body>
