
<form class="needs-validation" novalidate [formGroup]="formulario" style="padding: 15px;">



  <form class="container">


    <div class="form-group row">

      <!--label-- class="control-label">{{ recebeFiltro }}</!--label-->

    </div>

    <div class="form-group row card">

      <div class="row align-items-start">
        <div class="col  label-float">
          <input
           type="number"
           style="padding: 15px 0px"
           placeholder=" "
           id="quantidade"
           formControlName="quantidade"
          >
          <label>Qtde</label>
        </div>

        <!--div class="col  label-float ">
          <input
            type="text"
            style="padding: 15px 2px"
            placeholder=" "
            id="codigo"
            formControlName="codigo"
          >
          <label>Codigo</label>

        </div-->
        <div class="col label-float">
          <input
            list="result1"
            style="padding: 15px 80px"
            id="descricaoservico"
            name="descricaoservico"
            placeholder="Digite o Serviço..."
            formControlName="descricaoservico"
          >
          <label>Descrição Serviços</label>

        <datalist id="result1">
          <!--ption *ngFor="let result of results1$ | async">
                        {{ result.nome }}

                      </option-->
          <option value="Firefox">
          <option value="Chrome">
          <option value="Opera">
          <option value="Safari">
        </datalist>
        </div>

        <div class="col label-float">
          <input
            style="padding: 15px 10px"
            id="vrunitario"
            formControlName="vrunitario"
            type="number"
            name="vrunitario"
            ng-model="vrunitario"
            ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
            step="0.01"
            required
          >
          <label>Vr. Unitário</label>

        </div>

        <div class="col label-float">
          <input
              style="padding: 15px 10px"

              id="vrtotal"
              formControlName="vrtotal"

              type="number"
              name="vrtotal"
              ng-model="vrtotal"
              ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
              step="0.01"
              required
          >
          <label>Vr. Total</label>
        </div>

      </div>

    </div>


    <div class="form-group row">
      <div class="col-md-8">
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
        <button class="btn btn-default" >Cancelar</button>

      </div>
    </div>

  </form>

</form>
