<form class="needs-validation" novalidate [formGroup]="form" style="padding: 15px;">
  <div class="form-row">
    <div class="col-sm-12">
      <label for="name" class="form-label">Name do Curso</label>
      <input
        type="text"
        class="form-control is-valid"
        id="name"
        placeholder="Name do Curso"
        formControlName="name"
        [ngClass]="{'is-invalid': submitted && hasError('name')}"

      />
      <div class="invalid-feedback" *ngIf="hasError('name')" >
        Informe um name para o curso
      </div>


    </div>
  </div>

  <div style="margin-top: 10px">
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
    <button type="cancel" class="btn btn-defaut" (click)="onCancel()">Cancelar</button>
  </div>

</form>
